---
import { Image, Picture } from '@astrojs/image/components';
import Authors from "./Authors.astro";
import DateTimeComponent from "./DateTimeComponent.astro";
import { relativeUrl } from "../utils/relativeUrl";

export interface Props {
	post?: any;
    hideAvatar?: boolean;
}

const { post, hideAvatar } = Astro.props;
const authors = post.authors

---
<div class="hh flex items-center relative z-4 flex-auto leading-snug overflow-hidden">
    { !hideAvatar &&
        <ul class="hh-author flex flex-wrap flex-none mr-3">
            {authors.map(author => (
                <li class="hh-author-item realtive">
                    <a
                        class="relative block avatar is-45x45"
                        href={relativeUrl(author.url)} //TODO to be removed
                        title={`Go_to_the_profile_of ` + author.name}>
                        {author.profile_image ?
                            <Image src={author.profile_image} class="object-cover rounded-full" alt={`Go_to_the_profile_of ` + author.name} width={36} height={36} fit="cover"/>
                            :
                            <Image src="../../images/avatar.png" class="object-cover rounded-full" alt={`Go_to_the_profile_of ` + author.name} width={36} height={36} fit="cover"/>
                        }
                    </a>
                </li>
            ))}
        </ul>
    }

    <div class="hh-right flex-auto overflow-hidden">
        <div class="hh-author-name text-sm noWrapWithEllipsis">
            {/* {authors.length === 1 ? authors[0].name : authors.length === 2 ? authors[0].name + `, ` + authors[1].name : `Multiple authors`} */}
            {authors.length > 2 ? `Multiple_authors` : <Authors authors={authors} />}
        </div>

        <DateTimeComponent post={post} />
    </div>
</div>