---
export interface Props {
    authors?: any;
}

const { authors } = Astro.props;
---

{
    authors.map((author, i) => (
        <span class="hh-author-name text-sm noWrapWithEllipsis">
            <a href={`/author` + `/${author.slug}/`}>{author.name}</a>
            {authors.length === 2 && i === 0 && `,\u00A0`}
        </span>
    ))
}
