---
import { readingTime as readingTimeHelper } from '@tryghost/helpers';

export interface Props {
	post?: any;
    dateTimeClass?: string;
}

const { post, dateTimeClass } = Astro.props;
//console.log(post)
const readingTime = readingTimeHelper(post, {
        minute: `1 min read`,
        minutes: `% min read`,
    })

---
<div class={`hh-date flex items-center ` + (dateTimeClass ? dateTimeClass : `text-gray-500 text-sm`)}>
    <time class="datetime capitalize" datetime={post.published_at} title={post.updated_at && `Updated` + post.updated_at} >{new Date(post.published_at).toLocaleDateString()}</time>
    <span class="bull mx-1">·</span>
    <span class="readingTime cursor-default" title={readingTime}>{readingTime}</span>
    {post.featured && <svg class="icon icon--star is-small p-1"><use xlink:href="#icon-star"></use></svg>}
</div>